@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /*--vs-dropdown-option--active-bg: "#01a781"*/
}
.cancel-button {
  background-color: rgb(208, 205, 205);
}
.btn-hove:hover {
  transform: translateY(-10px);
}
/* this code to hid button in input have type number  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* this code fro firfox */
input[type="number"] {
  -moz-appearance: textfield;
}
.bg-unit {
  background-color: #f1f1f1;
}
.text-orange-500 {
  color: rgb(251 100 30 / 1);
}

.border-red {
  border-color: red;
}