@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Cairo";
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  src: url('~assets/fonts/Cairo/static/Cairo-Regular.ttf') format('truetype');
}

body {
  font-family: 'Cairo', sans-serif;
}

:root {
  /*--vs-dropdown-option--active-bg: "#01a781"*/
}
.cancel-button {
  background-color: rgb(208, 205, 205);
}
.btn-hove:hover {
  transform: translateY(-10px);
}
/* this code to hid button in input have type number  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* this code fro firfox */
input[type="number"] {
  -moz-appearance: textfield;
}
.bg-unit {
  background-color: #f1f1f1;
}
.text-orange-500 {
  color: rgb(251 100 30 / 1);
}

.border-red {
  border-color: red;
}

cloudflare-app {
  display: none;
}



.vs--single .vs__selected {

  width: auto !important;

}

.custom-select {
  min-width: auto !important;
}




/***********custom calander************/


.min-width-180 {
  width: 180px;
}

.mx-calendar-content .cell.disabled {
  background-color: transparent !important;
}

.cell .not-current-month {
  color: #000 !important;
}

.mx-table-date .cell.not-current-month {
  color: #000 !important;
}

.mx-table-date > thead {
  background-color: #ebe2e2 !important;
}

.mx-datepicker-main {
  color: #000000 !important;

}

.mx-calendar-content .cell.disabled {
  color: #525252 !important;
}

.mx-btn {
  font-weight: 900 !important;
  color: #000 !important;
}

.mx-icon-calendar, .mx-icon-clear {
html:lang(ar) & {
  right: auto !important;
  left: 8px !important;
}
}
.unitbox .vs__dropdown-toggle{
  height: 44px !important;
}


.swal2-popup .swal2-styled.swal2-cancel {
  line-height: 0px;
}

.swal2-popup .swal2-styled.swal2-confirm {
  line-height: 0px;
  background: #01a781;
}

.profile-image {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  padding: 2px;
  object-fit: contain;
  margin-top: 6px;
}
