.image-url-wrap
  align-items start
  gap 15px
  flex-direction column

  .input-wrapper
    width 100%

  .image-input
    display flex
    gap: 10px
    flex-wrap wrap

    input
      width 100%
      max-width 300px

  label
    margin-bottom 10px

  &.file-wrapper button
    width 100px

    .lds-ring
      margin-right 0!important

.upload-block .image-url-wrap .file-input
  margin-bottom 0
