@import "./variables.styl"

.order-chart
  padding 15px
  overflow hidden

  .custom-dropdown
    span
      max-width 100%

//RESPONSIVE
@media only screen and (max-width: 576px)
  .order-chart
    padding 10px
