@import "./variables.styl"

.btn-wrapper
  .button
  button
    width auto

.img-wrap
  position relative
  height 100%
  min-height 150px

  .btn-wrapper
    opacity .6
    text-align center
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition all .2s

    .button
    button
      margin 5px
      padding 0 15px

  &:hover
    .btn-wrapper
      opacity 1

.main-slider
  max-width 1400px
  position relative

  .left
    padding-right 300px
    display flex
    align-items center
    justify-content center

    .slider-content
      padding-bottom 60%
      position relative

      .slider-content-inner
        position absolute
        top 0
        bottom  0
        left  0
        right  0

  .right
    position absolute
    top 0
    right 0
    height 100%
    width 300px
    padding-left 15px

    .img-wrap
      padding 0 0 7.5px
      height 50%

      &:last-child
        padding 7.5px 0 0

      img
        height 100%

//RESPONSIVE
@media only screen and (max-width: 992px)
  .main-slider
    .left
      padding-right 250px

    .right
      width 250px

@media only screen and (max-width: 768px)
  .img-wrap
    .btn-wrapper
      opacity .9

      .button
      button
        margin 5px 2.5px
        padding 0 10px

  .main-slider
    .left
      padding-right 0

    .right
      display flex
      position relative
      padding 10px 0 0
      width 100%

      .img-wrap
        flex 1
        display flex
        padding 0 5px 0 0
        height auto

        &:last-child
          padding 0 0 0 5px

