@import "./variables.styl"


table.single-table
  th
    border-radius 10px 10px 0 0!important

.rtl
  table
    th
      &:first-child
        border-radius 0 10px 0 0
        padding-right 20px

      &:last-child
        border-radius 10px 0 0 0

table tr.new-data
  background #f4f5f1

table
  border-radius 10px
  width 100%
  border-collapse collapse

  tr
    &:hover:not(.lite-bold)
      background #f9f9ff

    &:last-child
      background none

      td
        border-bottom 0

    .status
      span
        padding 4px 10px
        border-radius 50px
        font-size .8em
        font-weight 500
        color danger-foreground
        text-transform uppercase
        background danger-bg-color

    .active
      span
        color success-foreground
        background success-bg-color

    .info
      span
        color info-foreground
        background info-bg-color

  th
    font-weight 600
    font-size .9em
    text-align left
    html:lang(ar) &
          text-align right
    min-width 75px
    background #F8F8F8
    padding 15px 10px
    border-bottom 1px solid #eee

    &:first-child
      border-radius 10px 0 0 0
      padding-left 20px

    &:last-child
      border-radius 0 10px 0 0

  td
    text-align left
    html:lang(ar) &
              text-align right
    padding 12.5px 10px
    border-bottom 1px solid #eee

    .dply-felx.j-left.link
      margin -7.5px 0

    &:last-child
      padding-top 5px
      padding-bottom 5px

    h5
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    &:first-child
      padding-left 20px
      padding-right: 20px;
    img
      height auto
      width 50px
      border-radius 4px
      object-fit cover

    .button
    button
      margin 2.5px
      height 37px
      line-height 35px
      padding 0 15px

.tr-border
  tr:last-child
    td
      border-bottom none!important
