@import "./variables.styl"

.bulk-action > button
  gap 5px
  display flex
  border-radius 100px
  align-items center
  padding-left 20px
  padding-right 20px

.bulk-action > button i
  margin-top -3px
  opacity .6

.bulk-action.inline-pop-wrapper .inline-pop-over
  min-width 180px
  padding 5px

.bulk-action .pop-content .outline-btn
  height 38px
  line-height 38px
  background none
  border 0
  width 100%
  text-align left

