header-height = 55px
header-height-sm = 50px
sidebar-width = 250px
sidebar-width-lg = 240px
sidebar-width-sm = 240px
icon-bg = 350px
icon-sm-bg = 200px

btn-height = 42px
btn-height-sm = 40px

primary-color = #4285F4
primary-hover = #486FEF
primary-foreground = #fff

danger-bg-color = #F7D7DB
danger-foreground = #A12321

info-bg-color = #CCE5FF
info-foreground = #35628E

success-bg-color = #D3EDDA
success-foreground = #356842

warning-bg-color = #FFF3CC
warning-foreground = #765B18

primary-lite-color = #e8f0fe
new-record-color = #F8F8F8

font-color = #333

sprite = '~/assets/images/icons.svg'
login-bg = '~/assets/images/login-bg.png'
bg2 = '~/assets/images/bg.svg'
