@import "./variables.styl"

.withdrawal
  .tab-sidebar
    max-width 1000px

.withdrawal-section
  max-width 1000px
  display flex
  justify-content center
  margin 0 -7.5px 10px
  flex-wrap wrap

  & > div.amount
    background #fff

  & > .amount
    min-width 200px
    min-height 100px
    padding 15px 0
    border-radius 10px
    border 1px solid #ddd
    flex 1
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 0 7.5px 10px
    line-height 1.7

    .sub-title
      color #666
      margin-bottom 5px
